.customBtn {
    cursor: pointer;
    height: 36px;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
}
.headerBtn {
    height: 30px;
    padding: 0;
    line-height: 0;
}
.btnResponsiveHelper {
    width: 100%;
}
.yellowBtn {
    background-color: #FFCC00;
}
.yellowBtn:hover{
    background-color: #F2C200;
}
.yellowBtn:focus {
    border: 2px solid #B38F00;
}

.grayBtn {
    background-color: #E6E6E6;
}
.grayBtn:hover {
    background-color: #DBDBDB;
}
.grayBtn:focus {
    border: 2px solid #B3B3B3;
}

.whiteBtn {
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,0.2);
}
.whiteBtn:hover {
    background-color: #F2F5FF;
}
.grayBtn:focus {
    border: 2px solid #B3B3B3;
}