.repoNameStyle {
    font-family: "YS Text", sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 24px;
}

.mainContentStyle {
    margin: 30px 6% 100px;
    display: flex;
    flex-direction: column;
}

