.mainStyle {
    box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 1px 1px rgba(67, 68, 69, 0.3);
    border-radius: 6px;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 10px;
}
.mainStyle:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 2px 8px rgba(67, 68, 69, 0.3);

}
.innerContent {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 12px 30px 12px 70px;
}
.statusIconStyle {
    position: absolute;
    left: 30px;
    top: 16px;
}
.upperSideInfo {
    display: flex;
    gap: 10px;

}
.downSideInfo {
    display: flex;
    gap: 10px;
}
.commitInfo {
    display: flex;
    gap: 10px;
}
.timeStyle {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (max-width: 660px) {
    .upperSideInfo {
        flex-direction: column;
    }

    .downSideInfo {
        flex-direction: column;
    }
    .innerContent {
        flex-direction: column;
        margin-left: 35px;
    }
    .timeStyle {
        flex-direction: row;
    }
    .statusIconStyle {
        width: 20px;
        left: 10px;
    }
}
